/* -----Style reset----- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

input,
button { 
  font-family: inherit;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: 400;
}

ul li {
  list-style: none;
}
/* ---------------------- */
.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 134px;
  font-family: 'Inika', serif;
  background-color: #EDF2EC;
}

.container {
  max-width: 1222px;
  height: 100%;
  margin: 0 auto;
}

.header__navbar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  font-size: 0;
}

.logo,
.header__link {
  display: inline-block;
  color: #010201;
}

.logo {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

.logo::before {
  content: url('../img/icons/logo.svg');
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
}

.header__item {
  display: inline-block;
  margin: 0 46px 0 0;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 16px;
  line-height: 50px;
  transition: 0.1s all ease-in;
}

.header__link:hover {
  color: #E06733;
  opacity: 0.8;
  font-weight: 700;
}
/* section welcome  */
.welcome {
  width: 100%;
  padding: 62px 0 62.64px;
  background-color: #EDF2EC;
}

.welcome__row {
  display: flex;
}

.welcome__decor {
  flex: 1 1 auto;
  background-image: url("../img/decor/welcome_leafs.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.welcome__info {
  flex: 0 1 549px;
  padding: 36px 0 31.36px 0;
}

.welcome__title {
  margin: 0 0 42px 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.welcome__title strong {
  color: #499A18;
  font-weight: 700;
}

.welcome__text {
  margin: 0 0 48px 0;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.welcome__btn {
  width: 158px;
  height: 44px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #E06733;
  border-radius: 10px;
  transition: all 0.07s ease-out;
  cursor: pointer;
}

.welcome__btn:hover {
  background-color: #E06733;
  color: #fff;
}
/* section about */
.about {
  padding: 93px 0 94px 0;
  background-color: #fff;
}

.about__row {
  display: flex;
}

.about__info {
  flex: 0 1 605px;
  padding: 68px 0 0 0;
}

.about__decor {
  height: 479px;
  flex: 1 1 auto;
  background: url("../img/decor/about_houseplant.png") right top no-repeat;
}

.about__title {
  margin: 0 0 40px 0;
  font-family: 'Inika', serif;
  color: #499A18;
  font-size: 40px;
  line-height: 52px;
}

.about__title span {
  color: #E06733;
}

.about__text {
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}